# Mengabaikan file koneksi database lokal yang berisi password komputer Anda
config/koneksi.php

# Mengabaikan log harian internal agar tidak mengotori repositori
logs/*.txt

# Mengabaikan data media unggahan dinamis (biarkan folder tetap ada namun isinya kosong)
assets/upload/mobil/*
assets/upload/pelanggan/*
assets/upload/pembayaran/*
assets/upload/servis/*
assets/upload/temporary/*

# Kecualikan file penanda agar git tidak menghapus foldernya
!assets/upload/mobil/.gitkeep
!assets/upload/pelanggan/.gitkeep
!assets/upload/pembayaran/.gitkeep
!assets/upload/servis/.gitkeep
!assets/upload/temporary/.gitkeep

# File sampah sistem operasi bawaan laptop
.DS_Store
Thumbs.db